{% extends "base.html" %}
{% block content %}

<h1>Welcome to BeerShed!</h1>
<p> BeerShed is a picobrewery side project by Melvie Tarr and Emmanuel Jordan. This is web app is used for monitoring and remote access purposes. </p>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>

<!-- All posts -->
<h3>Brews:</h3>
{% for info  in info %}
  <strong>Carboy:</strong> {{ info.carboy }} <br>
  <strong>Status:</strong> {{ info.status }} <br>
  <strong>Temperature:</strong> {{ info.temperature }} <br>
<br>
{% endfor %}

{% endblock %}
