{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>BeerShed </h1>
</div>

<!-- All posts -->
<div class ="row">
  <div class ="col-md-5">
    <h2 class = "sub-header">  Brew Status:</h2>
  </div>
  <div class = "col-md-5">
    <button type="button" class="btn btn-danger btn-lg text-center" name="emerg"> Emergency Stop </button> 
  </div>
  <div class ="col-md-7">
    <p class ="text-right"> Shed Temperature:</p>
  </div>
</div>
<div class ="row">
 {% for info in info %}
 <div class ="col-md-4">
   <table class = "table">
     <thead>
       <tr>
         <th class="col-md-6">Carboy {{info.carboy}}   </th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td> Status:      </td>
         <td>{{info.status}}</td>
       </tr>
       <tr>
         <td> Brew Date:      </td>
         <td> TBD </td>
       </tr>
       <tr>
         <td> Temperature:       </td>
         <td>{{info.temperature}}</td>
       </tr>
       <tr>
         <td> Fermentation Cycle:      </td>
         <td> Primary/Secondary </td>
       </tr>
       <tr>
         <td> Time Remaining:       </td>
         <td> Running timer </td>
       </tr>
     </tbody>
   </table>
 </div>
  {% endfor %}
</div>
 <div class ="row" >
   <div class = "col-md-4 text-center">
     <h3 class = "sub-header"></h3>
     <div class="btn-group">
       <button type="button" class="btn btn-primary" name = "brew1">Brew</button>
       <button type="button" class="btn btn-primary" name = "transfer1">Transfer</button>
       <button type="button" class="btn btn-primary" name = "bottle1">Bottle</button>
       <button type="button" class="btn btn-primary" name = "clean1" >Clean</button>
     </div>
   </div>
   <div class = "col-md-4 text-center">
    <h3 class = "sub-header"> </h3>
     <div class="btn-group">
       <button type="button" class="btn btn-primary" name = "brew2">Brew</button>
       <button type="button" class="btn btn-primary" name = "transfer2">Transfer</button>
       <button type="button" class="btn btn-primary" name = "bottle2">Bottle</button>
       <button type="button" class="btn btn-primary" name = "clean2">Clean</button>
     </div>
   </div>
   <div class = "col-md-4 text-center">
     <h3 class = "sub-header"></h3>
     <div class="btn-group">
       <button type="button" class="btn btn-primary" name = "brew3">Brew</button>
       <button type="button" class="btn btn-primary" name = "transfer3">Transfer</button>
       <button type="button" class="btn btn-primary" name = "bottle3">Bottle</button>
       <button type="button" class="btn btn-primary" name = "clean3">Clean</button>
     </div>
   </div>
 </div>
 <div class = "row">
   <h1></h1>
 </div>

 <div class = "row text-center">
   
   <div id="inputbutts" class = "btn-group">
     <h1></h1>
     <button type="button" class="btn btn-success disabled" value="Execute" name="execute">Execute</button>
     <button type="button" class="btn btn-danger disabled" value="Abort" name="abort">Abort</button>
   </div>
 </div>

 <div class = "row text-center" id="countdown-clock" display="none">
   <div name ="Timer"  class="smalltext">Executing command in: <span class="seconds"></span> s
   </div>
 </div>

<script type= "text/javascript" charset "utf-8">
var timeLeft = 30
var timer = document.getElementsByName("Timer")[0];
var timeId

document.getElementsByName("Timer")[0].style.display="none"
function countdown(){
    var secondsSpan = timer.querySelector('.seconds');
    if(timeLeft==0){
        clearTimeout(timeId);
        timeLeft=30;
    }else{
        secondsSpan.innerHTML=timeLeft
        timeLeft--;

    }
}

// Only run what comes next *after* the page has loaded
addEventListener("DOMContentLoaded", function() {
    var commandButtons = document.querySelectorAll("button");

    for (var i=0, l=commandButtons.length; i<l; i++) {
        var button = commandButtons[i];
        // For each button, listen for the "click" event

        if (button.name=="execute"){
            //console.log(button)
            button.addEventListener("click",function(e){
                clearTimeout(timeId);
                timeLeft=30;
                button.className="btn btn-success disabled"
                document.getElementsByName("execute")[0].className="btn btn-success disabled"
                document.getElementsByName("abort")[0].className="btn btn-danger active"
                document.getElementsByName("Timer")[0].style.display="inline"
                timeId=setInterval(countdown, 1000);
            });
        } 
        else if (button.name=="abort"){
            button.addEventListener("click", function(e){
                button.className="btn btn-danger disabled"
                timeLeft=30;
                clearTimeout(timeId);
                document.getElementsByName("Timer")[0].style.display="none"
            
                //document.getElementsByName("execute")[0].className = "btn btn-success active"
            });
        }

        else{
            button.addEventListener("click", function(e) {
                // When a click happens, stop the button
                // from submitting our form (if we have one
                e.preventDefault();
                var clickedButton = e.target;
                //var command = clickedButton.val
                //alert(clickedButton.name);
                //console.log(document.getElementsByName("execute").className)
                document.getElementsByName("execute")[0].className = "btn btn-success active"
                //console.log(document.getElementsByName("execute").className)
            });
        }
   
    }
});

</script>

 <div class = "row text-center">
   <h1></h1>
      <p >Click <a href="/logout">here</a> to logout.</p>
</div>

{% endblock %}


 TODO: add javascript for buttons maybe user angular?


